/* https://fonts.google.com/specimen/Jost  regular 400 standard */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  min-height: 100vh;
  color: #656565;
  font-size: 16px;
  font-family: "Jost", sans-serif!important;
  font-weight: 400;
  line-height: 1.75;
  margin:0;
  overflow-x: hidden;
  word-wrap: break-word;
  
}
main {
  background:white;
}
.nav-area{

background-color: transparent!important;
position: fixed;
left: 0;
top: 0;
width: 100%;
/* z-index: 1000; */
 /* to add blur bg */
 z-index: 1100;
border-bottom: 1px solid rgba(255, 255, 255, 0.08);
margin: 0 auto;
}
.header-img
{
    background-image:url(images/slider-bg.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    width:1600px;
    height:870px;
    position: relative;
}

.nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 60px;
}
/* navlogo padding */
.nav_logo {
padding: 10px 20px;
}
.menu_items {
  display: flex;
  list-style: none!important;
  gap: 20px;
  /* to add blur bg */
 z-index: 1100;
}
.menu_items a {
color: #fff!important;
text-decoration: none!important;
}

a{ 
text-decoration: none!important;
}

.menu_toggle {
display: none;

}

ul li a:hover
{ 
  color: green !important;
}

.btn-registration{
 background-color: #03a84e;
border-radius: 5px;
color: #fff;
display: inline-block;
font-size: 15px;
border: none;
height: 48px;
width: 160px;
text-align: center;
line-height: 47px;
}

.btn-menu {
  color: #fff;
  background-color: #03a84e;
  border: none;
  border-radius: 5px;
  display: none;
  margin:0;
  padding:0;
  font-size: 20px;
  margin-left: 8px;
  position: relative;
  top: 1px;
  height: 38px;
  width: 38px;
  line-height: 38px; 
}

/*****  small screen  Reponsiveness  *****/
@media(width<1025px)
{ 
/* decrease font size for small screen */
  body{
    font-size:13px!important;
  }
  
  .btn-registration
   {
    font-size: 13px!important;
    height: 34px!important;
    width: 102px!important;
    line-height: 32px;
} 
.btn-menu 
   {
    font-size: 13px!important;
    height: 34px!important;
    width: 34px!important;
    line-height: 32px;
} 

  .menu_toggle {
    display: block;
  }
  .nav {
    padding: 0 20px;
    background-color: transparent!important;
  }

.nav_link a
{ color: #272a33!important;
} 

ul li:first-child a
 {
  background-color: #03a84e; 
  color: #fff !important;
  text-transform: uppercase;
  font-size: 16px;
}

ul li:first-child a:hover
{ 
 background-color: #272a33; 
  color: #fff;
  text-transform: uppercase;
}
.nav-area
{background-color: transparent!important;}

/* white color toggle menu items*/
  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    left: -100%;
    padding:0;
    flex-direction: column;
    transition: all 0.5s ease;
  }

   .btn-menu-close i {
    position: absolute;
    top:10px;
    right:5px;
    color: #fff;
}
  
.showMenu .menu_items {
    left: 0!important;
  }

  .menu_items a {
    display: block;
    width: 100%;
    background: none;
    text-align: left;
    padding: 10px 20px;
    border: 0;
    border-bottom: 1px solid rgba(10, 77, 60, 0.15);
    font-size: 15px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
    color: #272a33;
  }
  .menu_toggle i{
    width: 20px;
    cursor: pointer;
  }
  /* on small screen header btn */
  .headerbtn,.headerbtnsearch
  {
    width: 100% !important;;
    height:54px;
  }
  .header-text
  {
    font-size: 14px!important;
  }
  .header-title
  {
    font-size: 26px!important;
  }

  .play-video-btn
  { 
    left: 40%!important;
  }
/* hide animated images */

.img1,.img2,.img3,.img4{
  display: none;
}

/* cards applynow btn on small screen */
.apply-btn{
   font-size: 10px!important;
  padding:2px;
 }

 .section4-subtitle {
  font-size:15px!important;
}
.section4-title {
  font-size: 25px!important;
}

.icon{
  width:130px!important;
  height: 41px!important; 
}

.sec9-title
{font-size:25px!important;
}

.subscribe-btn{
  width:150px!important;
  height:42px!important;
  font-size:13px!important;
}

.sec9-inputbtn{
  height:55px!important;
  font-size:16px!important;
}

/* contact us page */
.contact-headertitle
{
    font-size: 32px!important; 
}

/* employers details */
.employers-details-followbtn,.employers-reviewbtn {
  font-size: 13px!important;
  height: 35px !important;
  width: 110px !important;
  padding: 2px !important;
}

.employers-counter-title {
  font-size: 13px!important;
}
.employers-counternumber {
  font-size: 22px!important;
}

}

.header4btn
{
  margin-bottom: 34px!important;
  margin-top: 23px!important;
  text-align: center;
}

.headerbtn{
 background-color: #fff;
border-radius: 5px;
border: none;
box-shadow: none;
color: #656565;
line-height: 68px;
font-size: 15px;
 width: 300px;
height: 68px;
outline: none;
margin: 0;
padding: 1px 46px 0 32px;
  
}
.headerbtnsearch{
  width: 68px;
  height: 68px;
  background-color: #03a84e!important;
  color: #fff!important;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  line-height: 68px;
  font-size: 15px;
  outline: none;
  margin: 0!important;
  padding: 1px 46px 0 32px!important;
}
.header-title{
  color: #fefefe;
  font-size: 50px;
  line-height: 1.3;
  margin-bottom: 21px;
}
.header-title span{
  color: #03a84e;
}
.header-text{
  font-size: 18px;
  color: #fefefe;
  margin-bottom: 0;
  text-align: center;
}

/********* video player btn********* */
 
.play-video-btn .video-popup:before {
  background-color: #03a84e;
  border-radius: 50%;
  content: "";
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
}
.play-video-btn {
  position: absolute;
  top:95%; 
  left:50%; 
  z-index:2;
}

.play-video-btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  width: 76px; 
  height: 76px;
  background-color: #fff; 
  border-radius:50%; 
  z-index: 1; 
  text-decoration: none; 
}
.play-video-btn .video-popup:after {
  border: 1px solid #cacaca;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.25;
  z-index: -2;
  animation: popup-overlay 1.4s linear infinite;
}



/* play btn animation */
@keyframes buzzing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.play-video-btn .video-popup {
  animation: buzzing 1s infinite;
}


@keyframes popup-overlay
{
0% {
  transform: scale(0.8);
  transform: scale(0.8);
  transform: scale(0.8);
  transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
}
100% {
  transform: scale(1.6);
  transform: scale(1.6);
  transform: scale(1.6);
  transform: scale(1.6);
  transform: scale(1.6);
  opacity: 0;
}
}


/* *************header animated pics **********/
   
    @keyframes moveUpDown{
    0% {
        transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        transform: translateX(0px);
        transform: translateX(0px);
    }
}
       
@keyframes scaleUpDown {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
@keyframes movebounce2
{
  0% {
    transform: translateX(0px);
    transform: translateX(0px);
}
50% {
    transform: translateX(60px);
    transform: translateX(60px);
}
100% {
    transform: translateX(0px);
    transform: translateX(0px);
}
}


@keyframes movebounce{
0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
50% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}

100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
}

.home-slider-shape .img1 {
  position: absolute;
  top: 0;
  right: 0;
}
.img1
{
  animation: movebounce 4s linear infinite;
}

.home-slider-shape .img2 {
 position: absolute;
 top: 0;
 right: 0;   
    }

.img2
{
    animation: movebounce2 5s linear infinite;
}
 .home-slider-shape .img3 {
  position: absolute;
   bottom: 50px;
   left: 0;
    }

    .img3 {
      animation: moveUpDown 4s ease-in-out infinite;
    }

    .home-slider-shape .img4 {
        position: absolute;
        bottom: 50px;
        right: 48px;
    }

    .img4 {
      animation: scaleUpDown 3s ease-in-out infinite;
    }

    /* ************ section1 start**************** */
    /* *******popular category  */
    .heading-black{
     font-size: 30px;
     margin-bottom: 12px;
     color: #272a33;
    font-family: "Jost", sans-serif;
    font-weight: 650!important;
    line-height: 1.2;
    margin-top: 12px;
}

  .bg-color-lightgray
    {background-color: #f4f7f7;
    }
    
    .bg-color-lightgray:hover
    { background-color: #03a84e;
    color: #fefefe;}

    /* ************ section#2 staRT*********** */
    /* RECENT JOB CIRCULARS */

    .section2-bg
    {
      background-color: #f4f7f7;
    }
    .card-bg{
      padding: 36px 35px 36px;
    }

    .card-img
    {
      width: 75px!important;
      height: 75px!important;
      border-radius: 5px!important;
    }
.cards-small-black-heading   
    { color: #272A33;
      font-size:20px;
      font-weight:600;
     }

     .cards-small-black-heading:hover
     {
      color: #03A84e;
     }

     .card-graysmalltext
     {font-size: 15px;
      color: #656565;
    }
    .card-big-black-heading
    { color: #272A33;
      font-size:24px;
      font-weight:600;
     }

     .card-big-black-heading:hover
     {
      color: #03A84e;
     }

     .card-fulltime
     {
      font-size: 16px;
      color: #03A84e;
      font-weight: 500;
     }
     .card-amaount
     {
      font-size: 22px;
      color:#272A33;
      font-weight: 600;
     }
     .card-permonth
     {
      font-size: 14px;
      color: #656565;
     
     }
     .remote
     { 
      font-size: 16px;
      color: #0054FF;
      font-weight: 500;
     }
     .part-time
     {
      font-size:16px;
      color: #FF7E00;
      font-weight: 500;
     }
     .apply-btn{
      height:38px!important;
      padding: 4px 5px 6px 5px!important;
      width:90px!important;
      background-color: #03a84e!important;
      border: 1px solid #03a84e!important;
      border-radius: 5px!important;
      color: #fff;
      /* display: inline-block; */
      display: inline-flex; 
      align-items: center;
      justify-content: center;

      font-size: 15px!important;
     }

     .apply-btn:hover
     {
      background-color: #f4f7f7!important;
      color: #03a84e!important;
     }


     /* ***************section3****************/
  .innerimgbox
  {
   display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #e8efef;
  text-align: center!important;
  }
  .outerimgbox
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border:2px dashed #e8efef;;
  border-radius: 5px;
}

.outerimgbox:hover{

border: 2px dashed green;
}
.outerimgbox:hover .innerimgbox
{
  background-color: #03A84e;
}


.green i
{
  color: #03a84e;

}
.green i:hover {
  color:#f4f7f7;
}

.arrow i {
  color: #03a84e;
  opacity: 0.2; 
  transition: opacity 0.3s;
}
.arrow i:hover {
  opacity: 1; 
}

/* ***********section4 starts***** */

.bg-layer-style1 {
  background-color: #272a33;
  content: "";
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  height: 100%;
  position: absolute;
  width: 625px;
  top: 0;
  left: 0;
  opacity: 0.05;
  z-index: -1;
}
.bg-layer-style2 {
  background-color: #272a33;
  content: "";
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  height: 100%;
  position: absolute;
  width: 625px;
  top: 0;
  right: 0;
  opacity: 0.05;
  z-index: -1;
}
.bg-img {
  background-image:url(images/bgimage-section3.webp)!important;
    background: no-repeat center center;
    background-size: cover;
     width:100%!important;
     min-height: 465px!important;
    position: relative;
    overflow: hidden;
}
.overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%!important;
  min-height: 465px!important;
  background: #03A84e;
  opacity: 0.95;
}

.icon{
  border-radius: 8px;
  width:201px;
  height:63px;
  transition: background-color 0.3s;
}
.icon:hover
{
  background-color:#03A84e;
  opacity:0.5;
}

 .section4-subtitle {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 23px;
}
.section4-title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 35px;
}

/*  section5 starts */

.team-item {
  background-color: #f4f7f7;
  border: 1px solid #f4f7f7;
  border-radius: 5px;
  margin-bottom: 30px;
  max-width: 290px;
  max-height: 480px;
  padding: 44px 45px 44px;
  position: relative;
  text-align: center;
}
.bookmark{ 
  position: absolute;
  top: 14px;
  right:19px;
 color: #03A84e;
}
.bookmark i.fa-solid.fa-bookmark {
  display: none; 
} 

.team-item:hover .bookmark i.fa-regular.fa-bookmark {
  display: none; 
}

.team-item:hover  .bookmark i.fa-solid.fa-bookmark {
  display: inline-block!important; 
 /* Display solid bookmark icon on hover */
}

.team-item:hover:hover
{
  background-color:#fff!important;
  border: 3px solid #f4f7f7!important;
}
.star
 {
  color: #ff9600;
  font-size:14px;
  letter-spacing:2px;
  text-align: center;
  margin-bottom: 15px;
}

.btn-white {
  background-color: #fff!important;
  border: 1px solid rgba(3, 168, 78, 0.18)!important;
  color: #03a84e!important;
  font-size: 15px!important;
  border-radius: 5px!important;
  font-weight: 500!important;
}
.btn-white:hover
{
  background-color: #03a84e !important;
  color:#fff!important;
}

.section5-title
{
font-size: 22px;
color: #272A33;
font-weight: 600;
}
.section5-title:hover
{
  color: #03A84e;
}

.section5-sub-title {
  color: #03a84e;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 18px;
}
/* section-6 start */
.section6img {
  transition: filter 0.3s ease-in-out;
}

.section6img:hover {
  filter: grayscale(100%);
}

/* section7 starts here */
.sec7-black-heading
{
font-size: 22px;
color: #272a33;
font-family: "Jost", sans-serif;
font-weight: 600;
line-height: 1.2;
margin-bottom: 10px;
margin-top: 0;
}

.sec7-graysmalltext
{
  font-size: 15px;
  color:#03A84e;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0;
}
.sec7-p
{
  color: #656565;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.sec7-star
 {
  color: #ff9600;
  font-size:14px;
  letter-spacing:2px;
  text-align: center;
  margin-bottom: 15px;
}

.greencard:hover
{
  background-color: #03A84e;
}

.greencard:hover .sec7-black-heading,
.greencard:hover .sec7-graysmalltext,
.greencard:hover .sec7-p,
.greencard:hover .sec7-star {
  color: white !important;
}

/* section 8 */
.by {
  color: #929292;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 15px;
}
.author{
  font-weight:500!important;
  color: #272A33;
}
.dot{
  color: #0F034A;
  font-weight:600!important;
}
.date{
  font-size: 14px;
  color: #272A33;
  margin-top:12px;
}
.walter:hover
{
  color: #03A84e;
}
.imgzoom
{
  transition: 1s;
}

.imgzoom:hover
{
  transform: scale(1.1);
  z-index: 2;
}
/* section9 */
.sec9-bg{
  background-color: #03A84e;
  padding: 47px 0 43px;
}

.sec9-title {
  color: #fefdfc;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 600;
}
.subscribe
{
  position: relative;
}

.sec9-inputbtn {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 600px;
  border: none;
  height: 70px;
  border-radius: 5px;
  font-size: 16px;
  color: #272a33;
  padding: 0 210px 0 32px;
}
.subscribe-btn{
  position: absolute;
  right: 4px;
  padding: 0;
  margin: 0;
  background-color: #272a33;
  color: #fff;
  font-size: 16px;
  border: 2px solid #272a33;
  width: 201px;
  height: 62px;
  border-radius: 5px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
/* footer */
footer {
  background-color: #272a33;
  position: relative;
}
.footer-text {
  color: #d8dadf;
  font-size: 18px;
  line-height: 1.95;
  margin-bottom: 32px;
}

.footer-title
{
  font-size: 28px;
  font-weight: 600;
}
.footor-icon i
{
    border: 2px solid #e3e8f1!important;
    border-radius: 50%;
    color: #e8efef;
    font-size: 14px;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.footor-icon i:hover
{
  border: 2px solid #03A84e!important;
  background-color: #03A84e;
}

.footer-list ul {
  list-style: none;
  padding: 0!important;
  margin: 0!important;
}

.footer-list ul li {
  padding: 0!important;
  margin: 0!important;

}

.footer-list ul li:hover{
  color: #03A84e;
}
.copyright i{
  color: #03A84e;
}
.copyright i:hover
{
  color: #03A84e;
}

.codefooter
{
  color: #03A84e;
  margin: 0!important;
  padding: 0!important;
}
.codefooter:hover
{
  color: #fff;
}
/* scroll to top */
.green-arrow{
  right:0;
  bottom:1%;
  position:fixed;
  
}

 .green-arrow i{
  color:#03A84e;
  font-size:40px ;
  transition: all 0.3s ease;
}
.green-arrow i:hover{
  color:#e8efef;
  font-size:40px ;
  animation: bounce 0.5s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Keep it at the original position */
  }
  40% {
    transform: translateY(-8px); /* Move it up by 8 pixels */
  }
  60% {
    transform: translateY(-4px); /* Move it up by 4 pixels */
  }
}

/* ______________________________
   *********Contact us***********
   ______________________________
 */


 .header2-img
 {
   background-image:url(images/slider-bg.webp);
   background-repeat: no-repeat;
   background-size: cover;
   width: 1600px;
   height:450px;
 }
 .contact-headertitle
 {
     color: #fefefe;
     font-weight: 600;
     text-transform: capitalize;
     font-size: 45px;
     letter-spacing: 0;
     margin: 0 0 22px 0;
     line-height: 1;
 }
 .contact-header-link
 {
   font-size: 16px;
   color:#fefefe;
 }
 .contact-header-link:hover
 {
   color: #03A84e;
 }
 
 .contact-info-wrap {
   align-items: center;
   background-color: #f4f7f7;
   border-radius: 5px;
   margin-bottom: 70px;
   padding: 60px 40px;

 }
 .contact-info-graytext{
   font-size: 17px;
   color: #656565;
 }
 .contact-info-graytext:hover
 {
  color: #03A84e;
 }
 .contact-info-graytext a{
   font-size: 17px;
   color: #656565;
 }
 .contact-info-graytext a:hover
 {
  color: #03A84e;
 }
 
  .info-icon {
   background-color: #fff;
   border-radius: 5px;
   width: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
 }
 .info-icon i{
   color:#03A84e;
 }
 
 .contact-form {
   background-color: #f4f7f7!important;
   border-radius: 5px;
   padding: 65px 71px 69px;
   position: relative;
 }

  .greenline{
   background-color: #03a84e;
   border-radius: 2px;
   content: "";
   height: 3px;
   width: 50px;
  position: absolute;
  left:13%;
 }
 .contact-send-message
 {
 background-color: #03A84e!important;
 width: 100%; 
 border-radius: 5px;
 color: #fff !important;
 display: inline-block;
 font-size: 15px;
 border: none;
 height: 55px;
 text-align: center;
 line-height: 47px;
 }
 .contact-messsage-area
 {
   height: 220px;
 }
 .contact-inputfields
 { 
 border-radius: 5px;
 color:#656565 !important;
 display: inline-block;
 font-size: 15px;
 border: none;
 height: 55px;
 line-height: 47px;
 box-shadow: #03A84e!important;
 }
 
 .form-control
 {
   box-shadow: none!important;
   border-style: none!important;
 }
 
 .contact-form  .form-control:hover{
   box-shadow:#03A84e!important;
   border-style:double!important;
   border: #03A84e ;
 }
 .map{
   width: 100%;
   height: 100%;
 }

/* employeers detail page */

.employers-details-wrap {
  background-color: #f4f7f7;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 45px 50px 45px;
}
.info-list
{
  list-style:none;
  padding: 2px;
}
.info-list li {
  color: #656565;
  font-size: 14px;
  line-height: 1;
}
.employers-details-btn {
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  width: 120px;
  padding: 8px;
}

.employers-details-followbtn {
  margin-left: 11px;
  background-color: #03a84e!important;
  border: 1px solid rgba(3, 168, 78, 0.18)!important;
  color:#fefefe!important;
  font-size: 15px!important;
  border-radius: 5px!important;
  font-weight: 500!important;
}

.employers-details-followbtn:hover
{
  background-color: #fff!important;
  color: #03A84e!important;
}
.employers-reviewbtn {
  border-color: #eef0f5;
  color: #272a33;
  background-color: #fff!important;
  border: 1px solid rgba(3, 168, 78, 0.18)!important;
  font-size: 15px!important;
  border-radius: 5px!important;
  font-weight: 500!important;
}
.employers-reviewbtn:hover
{
  background-color: #03A84e!important;
  color:#fefefe!important;
}

.employers-counter-title {
  color: #03a84e;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0;
}
.employers-counternumber {
  font-size: 32px;
  margin-bottom: 7px;
  font-weight: 600;
  color: #272a33;
}
.employers-counterbox {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 17px 10px 20px;
  width: 100px!important;
}

/* on hover number boxes */
.employers-counterbox:hover .employers-counternumber,
.employers-counterbox:hover .employers-counter-title {
  color: white!important;
}

.employers-counterbox:hover 
{
  background-color:#03A84e!important;
  color: white!important;
}

.employers-about-title {
  font-size: 30px;
  margin-bottom: 22px;
  color: #272a33;
  font-weight: 600;
}
.employers-about-text {
  margin-bottom: 19px;
  color: #656565;
  font-size: 16px;
}
.employers-details-list{
  font-size: 16px;
  color: #656565;

}
.employers-details-list li{
  list-style: none;

}

.employers-info-wrap{
  background-color: #f4f7f7;
  border-radius: 5px;
 padding: 44px 30px 31px;
 position: relative;
}
.employers-table
{ background-color: transparent!important;
  margin-bottom: 0;
}
 .dotted
 {
  min-width: 4px;
  padding-right: 28px;
  padding-bottom: 15px;
 }
 .table-name {
color:#272a33!important;
font-weight: 550!important;
 min-width: 136px;
 padding-bottom: 15px;
}
.table-info
{ color: #656565!important;
  font-size: 15px!important;
  padding-bottom: 15px;
}

.employers-rating {
  color: #ff9600;
  font-size: 13px;
}
 .employes-card-bgcolor {
  background-color: #f4f7f7!important;
  padding: 36px 35px 36px;
}


.social-icons a i {
  background-color: transparent;
  border: 1px solid #dfe2e7;
  border-radius: 5px;
  color: #05103b;
  height: 45px;
  font-size: 13px;
  width: 45px;
  text-align: center;
  line-height: 43px;
}

.social-icons a i:hover
{
  background-color: #03A84e;
  color: #fff;
}

/*Blurred Background for Side Menu*/
.shadowDivStyle {
  position: absolute;
  top: 0;
  background-color: #2B2B2BEB;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
/* to fixed height and diable scroll on blur bg */
.removeScrollBar {
  overflow: hidden;
  height: 100%;
}

.addScrollBar {
  overflow: auto;
  height: auto;
}

.removeScrollBar, .addScrollBar {
  position: fixed;
  width: 100%;
}